@media(min-width: 0PX) and(max-width: 992px) {

    #column1{
        /* font-size: 12px; */
        text-align: left;

    }

}

@media(min-width: 768PX) and(max-width: 992px) {
    #column1{
        /* font-size: 12px; */
        text-align: center !important;

    }
}

@media(min-width: 993px) and(max-width: 2000px) {

    #column1{
        /* font-size: 12px; */
        text-align: left !important;

    }
}